/* import bootstrap*/
@import "bootstrap";
/* universal */

body {
  padding-top: 70px;
}

// html {
  // overflow-y: scroll;
// }
//
// section {
  // overflow: auto;
// }
//
// textarea {
  // resize: vertical;
// }

a.btn-primary:visited {
  color: white;
}

.panel-heading h5 {
  display: inline-block;
}

.edit-form {
  padding: 20px;
}
